.hide {
    display: none;
}
.information {
    background-color: rgba(255, 255, 204, .3);
    border: 1px solid #cccc33;
    padding: 4px 12px;
    border-radius: 6px;
    width: 60%;
    margin: 0 auto;
    .icon {
        font-size: 2em;
        font-weight: bold;
        margin-right: 5px;
    }

}

.question {
    margin-top: 3em;
    .title {
        font-size: 36px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .options {
        text-align: center;
        a {
            margin: 0 2em;
        }
    }
    .multiple-options {
        zoom: 2;
        margin: 0 4em 1em;
        small {
            color: white;
            background-color: red;
            text-transform: uppercase;
            font-size: 0.45em;
            font-weight: bold;
            position: absolute;
            margin-top: 10px;
            margin-left: 2px;
            padding: 0 3px;
            border-radius: 2px;
        }
        .input-class {
            width: 100%;
            border: 1px solid grey;
            border-radius: 6px;
            padding: 4px 2px;
            outline: none;
            color: #333;
            display: block;
            margin-bottom: 1em;
        }
        br {
            height: 15px;
            line-height: 15px;
        }
    }
    .yes {
        box-shadow: 0px 10px 14px -7px #276873;
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        background-color:#599bb3;
        border-radius:8px;
        display:inline-block;
        cursor: pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #black;
        letter-spacing: 2px;
    }
    .yes:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#408c99;
    }
    .yes:active {
        position:relative;
        top:1px;
    }
    
    .no {
        box-shadow: 0px 10px 14px -7px #cf866c;
        background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
        background-color:#d0451b;
        border-radius:8px;
        border:1px solid #942911;
        display:inline-block;
        cursor: pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px black;
        letter-spacing: 2px;
    }
    .no:hover {
        background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
        background-color:#bc3315;
    }
    .no:active {
        position:relative;
        top:1px;
    }

}