<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {{ site.name }}{% else %}{{ site.name }} – {{ site.description }}{% endif %}</title>
    {% seo title=false %}
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta name="theme-color" content="#90d0bd">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ site.url }}/images/favicon.png">
    {% include analytics.html %}
  </head>

  <body>
    {% include tagmanager.html %}
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.url }}/" class="site-avatar" alt="{{ site.title }} Logo" title="{{ site.title }}">
              <img data-echo="{{ site.eurl }}{{ site.avatar }}" alt="{{ site.title }}" />
            </a>
            <div class="site-info">
              <p class="site-description">{{ site.site-info }}</p> 
            </div>

            <nav>
              <a href="{{ site.url }}/">Inicio</a>
              <a href="{{ site.url }}/servicios">Servicios</a>
              <a href="{{ site.url }}/acerca-de-vitaminails">¿Quiénes somos?</a>
              <a href="{{ site.url }}/contacto">Contacto</a>
              <a href="{{ site.url }}/buscar">Buscar</a>
            </nav>

            <nav class="main-categories">
              <a href="{{ site.url }}/">Uñas Acrilicas</a>
              <a href="{{ site.url }}/catalogo">Uñas Gelish</a>
              <a href="{{ site.url }}/acerca-de-vitaminails">Uñas Francesas</a>
              <a href="{{ site.url }}/buscar">Manicure y Pedicure</a>
            </nav>


          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    <script src="{{ site.url }}/assets/script.js" type="text/javascript"></script>

  </body>
</html>