---
layout: default
lang: es_MX
---

<article class="post detailed">
  <div class="post-top">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      <strong><a alt="Enlace para ver más sobre {{category}}" title="Ver más articulos sobre {{category}}" href='{{site.url}}/{{category|slugize|downcase|replace:"ñ","n"|replace:"manipedi","manicura-y-pedicura"|replace:"unas","unas"|replace:"francesas","-francesas"|replace:"gelish","-gelish"|replace:"acrilicas","-acrilicas"|replace:"uñas","unas"|replace:" ","-"}}'>{{category|replace:"ManiPedi","Manicura y Pedicura"|replace:"Unas","Uñas "}}</a></strong>
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    » {{ page.title }}
  </div>
  <h1><a href="{{ site.url }}/{{ page.url }}">{{ page.title }}</a></h1>

  {% if page.cover %}
  <img src="{{site.url}}/{{ page.cover }}" title="{{ page.excerpt }}" alt="{{ page.excerpt }}" />
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  {% include social-share.html %}

  <div class="post-bottom">
    <div class="row">
      <div class="col-2">
        <img class="mt-3" src="/images/foto-natalia-miniatura.png">
      </div>
      <div class="col-10 pl-2">
        <p>Escrito por <a href="{{ site.url }}/acerca-de-vitaminails"><strong>{{site.author}}</strong></a> el {% include date-spanish.html %}.</p>
        <p>Si tienes alguna duda al respecto y quieres comunicarte con Natalia lo puedes hacer directamente desde la <a href="{{ site.url }}/contacto/">Página de Contacto de Vitaminails</a> (o <a href="{{ site.url }}/contacto/">haciendo click aquí</a>). Si te gustaría tener más <a href="{{ site.url }}/servicios/">información sobre nuestros servicios de uñas</a>: <a href="{{ site.url }}/servicios/">haz click aquí</a>.</p>
      </div>
    </div>
  </div>

</article>